@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid-bg {
    background-image: radial-gradient(circle, rgba(59, 130, 246, 0.15) 1px, transparent 1px);
    background-size: 20px 20px;
}

.dark .dot-grid-bg {
    background-image: radial-gradient(circle, rgba(251, 191, 36, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #3d5a80;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #98c1d9;
}
