@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #3d5a80;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #98c1d9;
}
